select.location {
  left: 50%;
  top: 50%;
  padding: 100px;
}

.attendanceTable td, .attendanceTable th{
	border-left: 1px solid black;
	border-right: 1px solid black; 
}

.attendanceTable th{
	border-top: 1px solid black;
}

.attendanceTable tr:last-child td{
	border-bottom: 1px solid black;
}

.attendanceTable{
	width: 100%;
}
